@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Texxty</h1>
    <p class="lead">Texxty is a text-only blogging platform for bloggers and story writers</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            @Html.ActionLink("Create an account", "Register", "Accounts") and get started with blogging and seeing other bloggers posts.
        </p>
        
    </div>
</div>